<div class="ui menu header-container">
    <a class="item logo" href="/">
        {% include 'logo.html.twig' %}
    </a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/contact">Contact Us</a>
    <div class="right menu">
        <a class="item">Sign In</a>
    </div>
</div>
