<div class="multi-term-select" data-value="">
    <div class="multi-term-select__primary">
        <i class="tags icon multi-term-select__add"></i>
    </div>
    <input class="multi-term-select__adder hidden">
    </input>


</div>
