{% extends "base.html.twig" %}

{% block content %}

    <div class="ui vertical masthead center aligned segment segment__full-page">
        <div class="ui text container">
            <h1 class="ui header">
                Cochrane
            </h1>
            <h2>A simple to use tool for converting Cochrane Library exports from text files to spreadsheet format</h2>
            <div data-target-class="section__upload" class="scroll-button ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>

    </div>

    <div class="section__upload ui vertical center aligned segment segment__full-page">
        <div class="ui text container">
            {% include 'upload.html.twig' %}
        </div>

    </div>

{% endblock %}
